.d-mgmt {
    padding: 1rem;
}

.center {
    display: flex;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 2rem;
}

.disabled {
    pointer-events: none;
}

.card-img-top {
    height: 210px;
}